.Header {
    height: 90px;
    display: flex;
    width: 100%;
}

.logo {
    width: 50%;
    margin-left: 25px;
}

.logoImagem {
    height: 90px;
    width: 110px;
}

.nav {
    
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: end;
    gap: 60px;
    margin-right: 25px;
}

.nav>* {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid rgba(236, 236, 137, 0.864);
    
}
.nav>a:hover{
    transition: 1s;
    border: 1px solid rgba(236, 236, 137, 0.38);
  background-color: rgba(255, 239, 206, 0.351);
}
.user {
    padding: 10px;
    border-radius: 100px;
}

.user>img {
    height: 19PX;
    width: 20px;
}