.tudo {
    background-image: url('https://images.pexels.com/photos/708777/pexels-photo-708777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    display: flex;
}

.tudo>section {
    background-color: rgba(172, 172, 172, 0.44);
    align-self: center;
    width: 100%;
    padding: 40px 0px 60px 0px;
}

.container {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.container>img {
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 80px;
    margin-bottom: 20px;
    padding: 10px;
}

.container>div {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
}

.container>div>input {
    width: 75%;
    border: 1px solid rgba(187, 216, 68, 0.061);
}

.container>a{
    display: flex;
    justify-content: center;
    color: rgb(253, 253, 253);
    text-decoration: underline;
    cursor: pointer;
    margin: 10px 0px;
    font-size: 17px;
}
.container>a:hover{
    color: rgb(61, 0, 153);
    transition: 0.3s;
}

.container>button{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
}
